doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Expressjs With Mysql
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='script.js')
  body
    select#displayDetails
      each i in users
        option(value=i.uid) #{i.uname}
    //- .container
    //-   table.table
    //-     thead
    //-       tr
    //-         th(scope='col') ID
    //-         th(scope='col') Name
    //-         //- th(scope='col') L
    //-     tbody
    //-     each i in users
    //-       tr
    //-         th(scope='row') #{i.uid}
    //-         td #{i.uname}

      .row
     
          